.autoCompleteContainer
{
  display:flex;
  justify-content: center;
}

.personalInfo
{
  margin-top: 10px;
}

.customerDetails
{
  margin-inline: 1rem;
} 

.marginTop
{
  margin-top: 1rem;
}

.customerPhotoDetails
{
  margin-inline: 1rem;
}

.photo
{
  margin-top: 0.1rem;
}